.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/* for mobile phones */
@media screen and (max-width: 400px) {
    .flex-container {
        transform: scale(0.4);
    }
}

/* for larger*/
@media screen and (min-width: 400px) and (max-width: 768px) {
    .flex-container {
        transform: scale(0.6);
    }
}
/* Tablets and ipad */
@media screen and (min-width: 768px) and (max-width: 1023px) {
.flex-container {
    transform: scale(0.8);
}
}

.row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-between;
}

.row5 {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    margin: 0.2rem 0.2rem;
    width: 6rem;
    height: 7rem;
    background-color: rgb(38, 6, 251);
    color: white;
    font-weight: 600;
    border-radius: 0.9rem;
    box-shadow: 0 0 1rem 0.25rem;
    transition-duration: 0.2s;
}

.special {
 margin: 0.2rem 0.2rem;
 width: 6rem;   
 height: 7rem;
}